/***************** Reset *********************/
@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	outline: none;
}
b {
	font-weight: 900;
}

/****************************************************/

.wrap {
	padding: 20px 10px;
}
.inner {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
.wrap h1{
	margin: 0 0 20px 0;
}
.names {
	margin: 20px 0 0 0;
	width: 400px;
}
.names table {
	width: 100%;
}
.names thead tr {
   background: #eee none repeat scroll 0 0;	
}
.names thead td {
	
}
.names tr {

}
.names td {
    border: 1px solid #aaaaaa;
    padding: 4px 12px;
}
.single-freeze {
	display: inline-block;
	width: 400px;
	vertical-align: top;
}
.single-freeze table {
	width: 100%;
}
.single-freeze thead tr {
   background: #eee none repeat scroll 0 0;	
}
.single-freeze thead td {
	
}
.single-freeze tr {

}
.single-freeze td {
    border: 1px solid #aaaaaa;
    padding: 4px 12px;
}