
#med .wrap {
	padding: 20px;
}
#med #med .inner {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin: 0 30px 0 0;
}
#med .wrap h1{
	margin: 0 0 20px 0;
	font-size: 24px;
}

#med .medical-data {
	display: inline-block;
	vertical-align: top;
	padding: 20px 0 0 0;
}

#med .wrap-line {
	margin: 0 0 10px;
	height: 22px;
}
#med .wrap-line > input {
	float: left;
	width: 200px;
}
#med .on-name {
	float: right;
}