@-webkit-keyframes techAlarm {
    0%   { background: transparent; }
    50%  { background: darkred; }
    100% { background: transparent; }
}
@-moz-keyframes techAlarm {
    0%   { background: transparent; }
    50%  { background: darkred; }
    100% { background: transparent; }
}
@-o-keyframes techAlarm {
    0%   { background: transparent; }
    50%  { background: darkred; }
    100% { background: transparent; }
}
@keyframes techAlarm {
    0%   { background: transparent; }
    50%  { background: darkred; }
    100% { background: transparent; }
}

body.alarm{
    -webkit-animation: techAlarm 3s infinite;
    -moz-animation:    techAlarm 3s infinite;
    -o-animation:      techAlarm 3s infinite;
    animation:         techAlarm 3s infinite;
}

a, a:visited{
    color: #000;
    text-decoration: none;
}

.systems {
    display: inline-block;
    margin-left: -4px;
    margin-right: 5px;
    position: relative;
    vertical-align: top;
    width: 49%;
}

.chat{
    width: 50%;
    display: inline-block;
    vertical-align:top;
    margin-left: -4px;
}

#chatWindow {
    max-height: 70vh;
    overflow-y: scroll;
}

.system-inner{
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    min-height: 100%;
    background: #f1f1f1;
}

.systemClose {
    display: block;
    position: absolute;
    right: 5px;
    top: -21px;
}

.system-container {
    float: left;
    margin-right: 10px;
}

.systemOpener , .systemOpener:visited{
    border: 1px solid;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    color: #000;
}


.techSystemSingle{

}

.techSystemSingle.green{
    background: #008000;
}

.techSystemSingle.yellow{
    background: yellow;
}

.techSystemSingle.red{
    background: darkred;
}

.techSystemSingle.grey{
    background: #999999;
}

.systemName {
    display: inline-block;
    margin-right: -12px;
    padding: 5px;
    width: 50%;
}

.systemState {
    display: inline-block;
    text-align: center;
    width: 50%;
}


.techgame {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    display: none;
}