/***************** Reset *********************/
@charset "utf-8";

#anabioz .wrap {
	padding: 20px 10px;
}
#anabioz .inner {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin: 0 30px 0 0;
}
#anabioz .wrap h1{
	margin: 0 0 20px 0;
	font-size: 24px;
}
#anabioz .names {
	margin: 20px 0 0 0;
	width: 400px;
}
#anabioz .names table {
	width: 100%;
}
#anabioz .names thead tr {
   background: #eee none repeat scroll 0 0;	
}
#anabioz .names thead td {
	
}
#anabioz .names tr {

}
#anabioz .names td {
    border: 1px solid #aaaaaa;
    padding: 4px 12px;
}
#anabioz .single-freeze {
    display: inline-block;
    height: 300px;
    overflow-y: scroll;
    vertical-align: top;
    width: 400px;
}
#anabioz .single-freeze table {
	width: 100%;
}
.single-freeze thead tr {
   background: #eee none repeat scroll 0 0;	
}
#anabioz .single-freeze thead td {
	
}
#anabioz .single-freeze tr {

}
#anabioz .single-freeze td {
    border: 1px solid #aaaaaa;
    padding: 4px 12px;
}
#anabioz .wrap-line {
	margin: 0 0 10px;
	height: 22px;
}
#anabioz .wrap-line > input {
	width: 180px;
}
#anabioz .wrap-line > input,  .wrap-line > label{
    float: left;
}

#anabioz .all-freezes, .all-freezes-sex {
    float: right;
}